//er hat title-heading auch hier, ich aktuell bei header


//ich kann so oft splitten wie ich will, also hier n teil des bodys, wo anders..

body {    //man setzt keine height oder?
    font-family: "Roboto", sans-serif;
    font-weight:400;
   // font-size: 16px;  //
    line-height:1.7;
    /*padding:20px;   wozu?ausm video glaub ich*/ 
    background-color:$color-white;
}


//IST ES SINNVOLLER noch klassen zb .h2--white einzuführen oder 
//dann an der jeweiligen stelle via >h2 { zu machen? auch re spezifität
h1 {
  font-family: "Roboto", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:6.4rem;
 // line-height:2%;
  @include respond (desk){
    font-size:9.6rem;
   // line-height: 2%//diese 1.1%; müssen von sonstwoher kommen
  }
}

h2 {                                        
    font-family: "Roboto", sans-serif;
    font-weight:900;
    font-style:normal;
    font-size:3.6rem; 
    line-height:3.4rem;
    @include respond (desk){
      font-size: 4.8rem;    //..sind 48 px noch 4.8 rem bei desktop??????????
      line-height:110%;
      //line-height: 2%//diese 1.1%; müssen von sonstwoher kommen
    }
  }
  
  h3 {
    font-weight: 900;
    font-size:3.2rem;
    line-height:3.7rem; /*wieso dachte ich im video gehrööt zu haben dass man da keine px angibt?..wie rechne ih das um?*/ 
    @include respond (desk) {
      font-size: 4.2rem;
    // line-height: 1.1%;    warum ist das gesetzt, das reicht nicht für die schriftgröße!?
    }
  }
  
  .text-m--black{
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.8rem;
    color:$color-black;
    @include respond (phone-land) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
  .text-m--white{
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.8rem;
    color:$color-white;
    @include respond (phone-land) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  
  .subhead {
    font-size:1.8rem;
    line-height: 2.1rem;
  }
  
  .rust {
    font-weight:900;
    font-size:2.4rem;
    line-height: 2.8rem;
  }

  .address {
    display:flex;
    margin-top:2rem;
    :first-child{
        margin-right:10%;
    }
  }
  /*
  display:flex;
  margin-top:5.5rem;
  margin-bottom:3.4rem;
  */
