//er hat title-heading auch hier, ich aktuell bei header


//ich kann so oft splitten wie ich will, also hier n teil des bodys, wo anders..

body {    //man setzt keine height oder?
    font-family: "Roboto", sans-serif;
    font-weight:400;
   // font-size: 16px;  //
    line-height:1.7;
    /*padding:20px;   wozu?ausm video glaub ich*/ 
    background-color:rgb(124, 21, 21);
}


//IST ES SINNVOLLER noch klassen zb .h2--white einzuführen oder 
//dann an der jeweiligen stelle via >h2 { zu machen? auch re spezifität
h2 {                                        
    font-family: "Roboto", sans-serif;
    font-weight:900;
    font-style:normal;
    font-size:3.6rem;
    line-height:3.4rem;
    @include respond (desk){
      font-size: 4.8rem;
      line-height: 1.1%;
    }
  }
  
  h3 {
    font-weight: 900;
    font-size:3.2rem;
    line-height:3.7rem; /*wieso dachte ich im video gehrööt zu haben dass man da keine px angibt?..wie rechne ih das um?*/ 
    @include respond (desk) {
      font-size: 4.2rem;
      line-height: 1.1%;
    }
  }
  
  .text-m--black{
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.8rem;
    color:$color-black;
    @include respond (desk) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
  .text-m--white{
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.8rem;
    color:$color-white;
  }

  
  .subhead {
    font-size:1.8rem;
    line-height: 2.1rem;
  }
  
  .rust {
    font-weight:900;
    font-size:2.4rem;
    line-height: 2.8rem;
  }
  .address {
    display:flex;
    flex-direction: row;
    margin-top:20px;
    :first-child{
        margin-right:17px;
        width:156px;
        @include respond (desk) {
          margin-right: 1.6rem;
          width:58.7%; //298px von 507px breite des cafe__desktop 
        }
    }
  }