.footer {
    width:100%;
background-color:#000;
color:white;
}

.footer-text {
    padding-top:6.7rem;
    padding-bottom:10%;
    margin:auto;
    width:86%;
    @include respond(desk) {
        display:flex;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-left:auto;
        margin-right:auto;
    }
    .footer-title {
        @include respond (desk) {
        width:33%;
        }
    
        .rust {
            margin-top:15px;
        }
    }

    .address--imp {
        display:flex;
        margin-top:3rem;
        :first-child{
            width:50%;
        }
        @include respond (desk) {
            display:flex;
            flex-direction: column;
            align-items:flex-start;
            width:33%;
            :first-child {
              margin-bottom:1rem;
            }
        }
    }

    .footer-links {
        display:flex;
        align-items:flex-start;
        justify-content: flex-start;
        margin-top:3rem;
        :first-child{
            width:50%;
        }
        @include respond (desk) {
            width:33%;
            flex-direction:row-reverse;
            justify-content:flex-start;
            align-items:flex-start;
        }

        &__info {
            display:flex;
            flex-direction: column;
            
        }
        &__nav {
            display:flex;
            width:50%;
            flex-direction: column;
            align-items: flex-start;


        }
        &__style {
            text-decoration: none;
            color:$color-white;
        }
    }
    
    .text-m--imp{
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.8rem;
    color:white;         
    }
        
        
}

