.footer {
    width:100%;
background-color:#000;
color:white;
}

.footer-text {
    padding-top:10%;
    padding-bottom:10%;
    margin:auto;
    width:86%;
    @include respond(desk) {
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left:auto;
        margin-right:auto;
        
    }
    .footer-title {
        @include respond (desk) {
        width:25%;
        }
    
    .rust {
        margin-top:15px;
    }
    }
    .address {
        margin-top:55px;
        margin-bottom:34px;
        @include respond (desk) {
            display:flex;
            flex-direction: column;
            margin:0;
            width:25%;
        }
    }

    .footer-links {
        @include respond (desk) {
        width:50%;
        }
    }
    
    .text-m--imp{
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.8rem;
    color:white;
    display:flex;
    flex-direction:row;
        :first-child{
        margin-right:17px;
        width:50%;
            @include respond (desk) {
             width:50%;
            } 
        }
        
    }      
}

