.header {
    width:100%; 
    height:75vh;
    background-image: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../img/FEND-Coffee-latte-art-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    display:flex;                  
    flex-direction: column;
    align-items:center;
    justify-content: center;
    @include respond (tablet) {
        width:100%;
        height:60vh;
        background-position:center;
    }
    @include respond(desk) {
        width:100%;
        height:65vh;//11.97%;//65 vh ..wie oben..i don´t get it.. 681 px von 5688 => 12%
        
    }

    &__text {
        /*display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;*/
        margin-bottom:10.3rem; //103px Abstand zum button, noch in % machen!
        //margin-top:50%;//199px von header-height 500.25 = 39.78% in mobile abe das entspricht nicht dem Bild von Figma. das deutet auf just-cont hin
        @include respond (tablet) {
           margin-bottom:4rem;
       }
        @include respond (desk) {
         margin-top:5rem;//  margin-top:11rem;       //die elf kommen, weil zw. oben und unten 40 px aka
            margin-bottom:5rem;      //21.9%;//149px von 681 =22.9%, wobei 75 vh also 1%=0.75 * 22.9=16.4%
        }

        .title_primary{                             //er hat das bei TYPO
            color:$color-white;
            display:flex;
            flex-direction: column;
            align-items: center;
               
            &--main {
                font-family:"Roboto", sans-serif;
                font-weight:900;
                font-size:6.4rem;
                line-height:7.5rem;
                @include respond (desk) {
                    font-size:9.6rem;
                    line-height:11rem;
                    //max-resolution: top 38.1%;  //260 von 681 px
                }
            }
            &--sub {
                font-weight:400;            //aus uverstandenem Grund X ist die size und height hier gleich für desktop
                font-size:1.8rem;
                line-height:2.1rem;
               
            }
        }
     }
    
}

