//BUTTONS//

///LOGO ALS HOME BUTTON NUTZEN
.logo-btn-home{
  width:35px;
  height:35px;

  &--header {
    position:fixed;
    top:2rem;
    left:7%;
    z-index:5000;
  }

  &--footer {
    display:inline-block;
  }

  .logo-btn-img {        
    width:100%;
    height:auto;
  }
}


//GENERAL
.btn,   //falls irgendwas komsich wird: habe jetz tnoch btn dazugeschrieben, darf eig nichts ändern
.btn:link,
.btn:visited {
  font-size:1.2rem;
  border-radius:0.5rem;
  text-decoration:none;
  line-height: 1;
  @include respond (desk) {
    font-size:1.4rem;
    line-height: 1.8rem;
  }
}

//zum shop

//noch umbenennen in btn-dark
.btn-shop {
  background:linear-gradient(to right,  $color-btn-dark-hover 50%, #1A1A1A 50%);
  background-size: 200% 100%;
  background-position: right bottom;    //für eine animation braucht es background, size, position und transition
  transition: all .5s ease-out;
  color:#fff;
  text-align:center;
  padding:1.5rem 5rem 1.5rem 5rem;
  &:hover{
    background-position: left bottom;
  }
  &:active{
    background:$color-btn-active;     //wieso muss ich da eig background und nicht -color nehmen????
  }
}

//wir machen jetzt kurz aus Zeitgründen ein btn-shop2 --> aber den header noch flexbox anpassen!//

.btn-shop2 {
  background: linear-gradient(to right, $color-btn-dark-hover 50%, #1A1A1A 50%);
  background-size:200% 100%;
  background-position:bottom right;
  transition:all 0.5s ease-out;
  color:#fff;
  margin-top:4rem;
  padding:1.5rem 5rem 1.5rem 5rem;
  text-align:center;
  &:hover{
    background-position:left bottom;
  }
  &:active{
    background-color:$color-btn-active;
  }
}


  //BUTTON HELL UMBENENNEN..nich das er hell wäre
  .btn-products {
    color:#fff;
    background: linear-gradient(to right, rgba($color-btn-active, 0.3)50%, rgba(0, 0, 0, 0) 50%);
    background-size:200% 100%;
    background-position:right bottom;
    transition: all 0.5s ease-out;
    border-style:solid;
    border-width:3px;
    border-color:#fff;
    margin-left:auto;
    margin-right:auto;   
    text-align:center;
    padding:15px 50px 15px 50px;

    &:hover{
      background-position:left bottom;
    }
    &:active {
      background-color: $color-btn-active;
    }
  }
   

      //auf figma habe ich bei elements diese angabe für hover gefunden: box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25); 
      //dann bräuchte ich aber auch:       &:hover{ color:black; }
      //und diese für den button hell bei der shop-vorschau. da der button ja überhaupt nicht weiß ist, bin ich eh verwirrt:
      //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  -->LERNGRUPPE FRAGEN