.café{
    width:375px;//59.6rem; 
    height:87.575rem; //875.75px///* 382 cafe + 53.75 top + 440 plant (top/bot inkl) =875.75px*/
    position:relative;
    top:0;
    background-color:white; //sprach was gegen body white machen?

    &__content {
        width: 32.7rem;
        color:#000;
        display:flex;
        flex-direction: column;

        &--location{
            height:38.2rem;   /*stichwort inherit:muss ich noch mal flexen, damit die children das auch tun?*/
            position:absolute;
            left:2.4rem;
            top:5.375rem;
            #roest-text {
                margin-top:2rem;
            }
        }

        &--info{
            height:34.4rem;
            position:absolute;
            left:2.4rem;
            top:47.375rem;
            >h3 {
                margin-bottom:1.2rem;
            }
        }
    }
    
    
  } 
  
//allgemeien Nesting Frage: würde ich die jetzt irgendwie oben noch drin verwurschteln wollen, oder tatsächlich nur 
//alles was sich nach dem bem prinzip aufschlüsseln lässt/so benannt ist?
#café-img {
    width: 241px;
    height:182px;
    left:300px;
    display:inline-flex;
    margin-left:86px;      /*ist ja auf figma alles absolut, aber wenn ich flexboxen wollte/dürfte,
    könnte ich es soweit nach rechts schieben, dass es ungefähr da sitzt, wo es mit absolut säße
    gemessen an der breite von .page-content, also 110 px minus 24 (differens page-content page-outline
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /*x, y, schärfe, farbe*/
    margin-top: 40px;/*760 (höhe des img) - 720 (aka bottom des darüber liegenden divs)= 40px*/
}

/*#bio-text {
    margin-top:0;
}*/
#plant-img {
    width:241px;
    height:160px;
    display:inline-flex;
    margin-left:0;
    margin-top:44px;
}