//das mit der vh hab ich irgendwie noch nicht//
/*.herkunft-format{
    width:486px;
    height:996px;   // 332 + 60 dazischen + 604 + 72 unten + next part?
    position:relative;
    //    top:0;  das muss nur bei outline oder//
  }
  //irgendwie unnütz oder? auf figma sind noch mehr kästen, wofür?//*/

  .herkunft {
    background-image: linear-gradient(rgba($color-anthra, .5), rgba($color-anthra, .5)), url(../img/FEND-Coffee-bags-2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    height:50vh;
    display:flex;                   //es fühlt sich sehr unnütz an dafür zu flexen aber ohne flex war der text immer bündig am top rand
    align-items:center;
    justify-content: center;


    &__text1{
        
        text-align: center;
        color:$color-white;
        >p{
          margin-top:2rem;
        }
        >a {
          display:inline-block;
          text-decoration: none;
          margin-top:2rem;
          &:hover {
            font-weight: 900;
          }
        }
    }
    
  }

  //NEUER BEREICH BRAUCH EIGENE SCSS PAGE
.dassteckt{
  max-width:$max-width;
  margin-top:10%;
  margin-bottom:10%;
  margin-right:auto;
  margin-left:auto;
  // height:auto;
  text-align: center;
  >h2 {
    color:$color-black;
    margin-bottom:10%;
    }

  &__flex{
    width:86%; 
    text-align:center;
    margin:auto;

    @include respond (desk) {    
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

    }
  }
    
  &__icon-btn-box{
    width:100%;
    @include respond (desk) {
    width:30%;              //die "restliche" Breite neben dem Bild
    height:auto;
    margin:auto;
    }
  }

  &__icons {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
    @include respond (desk) {
      flex-direction: column;
      flex-wrap: nowrap;
      margin:auto;
      align-items: center;
      
    }
  }
}

  //kaffeebild
  .img-herkunft-blend {
    width:64%;
    height:auto;
    margin:auto;   //das geht doch bestimmt schöner, aber justify.. space-between ist nicht working
    >img {
      width:100%;
      margin-left:auto;
      margin-right:auto;
    }
    @include respond (desk) {
      width:60%;  //ca breite des bildes vs. icons + text
      margin-right:0%;
      margin-left:0;
      >img {
        margin-left:0;
      }
      }
    
  }

//MEEHR ICONS ..könnte man natürlich auch mit BEM machen
 .icon-mittext{
   display:flex;
   flex-direction:column;
   margin-bottom:20%;   //KLARMACHEN 20% wovon!
   align-items: center;
   justify-content: space-evenly;
   width:26%;
   @include respond (phone-land) {
      width:20%;
   } 
  }

  .is-icon-box {
    width: 50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1rem;   //ÜBERPRÜFEN: kann justify-cont: space evenly/between bei elementen ohne definierte höhe nicht funktionierne?
  }
  .is-icon {
      width: 100%;
      height: auto;
  }
  /*habe heir jetzt absichtlich alle 3 icons gleich groß gemacht..die sind online 
  ja auch leicht verschoben,aber wenn es gewollt ist, kann ich die genauen Maße noch einfügen*/

  



//KOMM VORBEI TEIL. braucht eigene scss file

.visit{
  padding-top:10%;    //mehr oder weniger habe ich das jetzt bei vielen der 
  width:100%;
  background-color: $color-white;
  height:30rem;
    @include respond (desk) {
      height:57.5rem;
    }
    
  &__text {  
  width:86%;
  margin:auto;    //remember:das geht nicht bei inline-block
  
    >h2 {
      color:$color-black;
      margin-bottom:3.5rem;
    }
  }
  
  &__map {
    width:100%;
    height:100%;
    >iframe {
      height:77%; //relative höhe im container komm vorbei
      width:100%;
    }
    @include respond (desk) {    
      height: 85%;
      width:100%;
      
    }
    &--bigger {      
      display:block;           
      color:$color-anthra;
      text-align: center;
      margin-bottom:2%;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        font-weight: 600;
      }
    }
  }
}

