//das mit der vh hab ich irgendwie noch nicht//
/*.herkunft-format{
    width:486px;
    height:996px;   // 332 + 60 dazischen + 604 + 72 unten + next part?
    position:relative;
    //    top:0;  das muss nur bei outline oder//
  }
  //irgendwie unnütz oder? auf figma sind noch mehr kästen, wofür?//*/

  .herkunft {
    background-image: linear-gradient(rgba($color-anthra, .5), rgba($color-anthra, .5)), url(../img/FEND-Coffee-bags-2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    height:50vh;
    display:flex;                   //es fühlt sich sehr unnütz an dafür zu flexen aber ohne flex war der text immer bündig am top rand
    align-items:center;
    justify-content: center;


    &__text1{
        
        text-align: center;
        color:$color-white;
        >p{
          margin-top:2rem;
        }
        >a {
          display:inline-block;
          text-decoration: none;
          margin-top:2rem;
          &:hover {
            font-weight: 900;
          }
        }
    }
    
  }

  //NEUER BEREICH BRAUCH EIGENE SCSS PAGE
.dassteckt{
  max-width:$max-width;
  margin-top:10rem;
  margin-bottom:10rem;
  margin-right:auto;
  margin-left:auto;
  // height:auto;
  text-align: center;
  >h2 {
    color:$color-black;
    margin-bottom:10rem;
    }

  &__flex{
    width:86%; 
    text-align:center;
    margin:auto;

    @include respond (desk) {    
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

    }
  }
    
  &__icon-btn-box{
    width:100%;
    @include respond (desk) {
    width:40%;              //die "restliche" Breite neben dem Bild
    height:auto;
    margin:auto;
    }
  }

  &__icons {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:10rem;
    margin-left:auto;
    margin-right:auto;
    @include respond (desk) {
      flex-direction: column;
      flex-wrap: nowrap;
      margin:auto;
      align-items: flex-end;  //HÄÄÄÄÄÄ: ob hier end oder start steht verändert nix und ich verstehe nicht warum. wegen der margin-bottoms?
      
    }
  }
} 

  //kaffeebild
  .img-herkunft-blend {
    width:64%;
    height:auto;
    margin:auto;   //das geht doch bestimmt schöner, aber justify.. space-between ist nicht working
    >img {
      width:100%;
      margin-left:auto;
      margin-right:auto;
    }
    @include respond (desk) {
      width:60%;  //ca breite des bildes vs. icons + text
      margin-right:0%;
      margin-left:0;
      >img {
        margin-left:0;
      }
    }
    
  }

//MEEHR ICONS ..lieber mit BEM machen? das ist der container je item+text
 .icon-mittext{
   display:flex;
   flex-direction:column;
   margin-bottom:20rem;   //KLARMACHEN 20% wovon!
   align-items: center;
   justify-content: space-evenly;
   width:26%;
   @include respond (phone-land) {
      width:20%;
   } 
   @include respond (desk) {
     flex-direction:row;
     justify-content:center;
     width:100%;
     //margin-left:16.6% was ca 175 px entspricht, wegen flex lass ich da aber einfch erst mal weg
   }
  }

  .is-icon-box {
    width: 50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1rem;   //ÜBERPRÜFEN: kann justify-cont: space evenly/between bei elementen ohne definierte höhe nicht funktionierne?
    @include respond (desk) {
      width:10%; //Breite der Box des jeweiligen Items
      margin-right:30px;
      margin-left:0;
    }
  }
  .is-icon {
      width: 100%;
      height: auto;
  }
  /*habe heir jetzt absichtlich alle 3 icons gleich groß gemacht..die sind online 
  ja auch leicht verschoben,aber wenn es gewollt ist, kann ich die genauen Maße noch einfügen*/

  
