//das mit der vh hab ich irgendwie noch nicht//
/*.herkunft-format{
    width:486px;
    height:996px;   // 332 + 60 dazischen + 604 + 72 unten + next part?
    position:relative;
    //    top:0;  das muss nur bei outline oder//
  }
  //irgendwie unnütz oder? auf figma sind noch mehr kästen, wofür?//*/

  .herkunft {
    width: 375px;    //brauche keine height !
    background-color:$color-white;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap ;   //nochmal nachlesen pls
    /*position:absolute;
    top:0;  brauch ich ja jetz auch nich mehr oder*/
    &__textbox {
      background-image: linear-gradient(rgba($color-anthra, .5), rgba($color-anthra, .5)), url(../img/FEND-Coffee-bags-2.png);
      text-align:center;
      height:332px;  //eig 50 vh aber ich bin noch nicht so fit darin
      color:#fff;
    }
    &__text1{
        display:flex;
        flex-direction: column;
        margin-top:8.7rem;
        >p{
          margin-top:1.2rem;
        }
        >a {
            text-decoration: none;
            margin-top:2rem;
        }
    }
    
    &__text2{
// so was kann bei flex einfach weg ne?!    top:392px;
    width: 375px; //kann eig weg oder?
    height: 664px; //60 oben +604 +72 unten //
      .dassteckt{
        text-align:center;
        width: 333px;
        height: 604px;
        margin-left: 20px;
        margin-top:60px;
        //brauch ich ja gar nicht, habe ich ja oben in der höhe ..margin-bottom:72px;
        display:flex;
        flex-direction: column;
        align-items:center; //ausrichtung aller elemente auf querachse, also bei colum die x achse//
        >h2 {
            color:#000;
        }
      }
    }
    &__inhalt {
      display:flex;
      flex-direction:row;
      justify-content: space-between;
    }
  }


//MEEHR ICONS ..könnte man natürlich auch mit BEM machen
  .icon-mittext{
    width:87px;
    height:123px;
  }

  .is-icons {
      color:#3A3734;
      width: 45px;
      height: 45px;
  }
  /*habe heir jetzt absichtlich alle 3 icons gleich groß gemacht..die sind online 
  ja auch leicht verschoben,aber wenn es gewollt ist, kann ich die genauen Maße noch einfügen*/


//KOMM VORBEI TEIL. passt eigentlich nicht zu Herkunft, wohin?

.herkunft{
    &__visit {              //oben jetzt nicht reingenestet wegen icon teil dazwischen + unpassend
    width: 375px;
    height: 300px;  
    display:flex;
    flex-direction: column;
    //background-color: $color-white;
    }
    
    &__text3 {  
    margin-left:24px;
    width: 327px;
    height:300px;
      >h2 {
        color:$color-black;
        margin-bottom:35px;
      }
    }
  }
  .visit__map {
    width:375px;
    height:231px;
    display:flex;
    flex-direction: column;
    justify-content: center;    //warum geht das nicht,  irgendwas verpeile ich gerade die main axis ist doch gerade y?
    &--bigger {                 //bzw. meine neue frage ist dann wieso erbt er das flexen nicht? erben die nie flex?
      color:$color-anthra;
    }
  }


  #img-map {
    width:375px;
    height:231px;
  //  top:1073px; //1038 + 35px;
  }