  .shop{
    width:100%;
    background-color:$color-anthra;  /*scss einführen!!!!!!!!!!*/

      &__outline {
        width:86%;
        margin:auto;
      }
      &__content {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;      
        >h2{
          color:#fff;
          margin-bottom:4rem;
          margin-top:6rem;

          @include respond (desk) {
            margin-right: 63%;//auf figma 67.5% aber mw desktop geht bei 1200 schon los und es bricht sonst zu spät um
            margin-bottom:8rem;
            margin-top:12.5rem;
          }
        }
        >a {
          margin-bottom:6rem;
        }
        @include respond (desk) {
          justify-content: space-between;
          margin:0;     //VERTIKAL muss ich noch setzen zwischen h und den blends udn button
          //flex-direction:row;
          //justify-content: center;
          //align-items: ;
          //flex-wrap: wrap;
        }
      }
      &__blends{    //wäre nach BEM hier so was wie div-blends sinnvoller?
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        color:#fff;
        @include respond (desk) {
          margin:0;
          flex-wrap:nowrap; //vllt will ich das gar nicht
          justify-content: space-between;
        }

        &--preview{
          width: 47.5%;

          .subhead {
            margin-top:1rem;
            margin-bottom:0.7rem
          }                         //eeeyy wieso macht weder subhead noch img das -.-
          >div{
            margin-bottom:1rem;
          }
          &:nth-child(odd){     //Kaffee 1 und 3
            margin-right:5%;
            margin-bottom:4rem;
          }
          &:nth-child(even) {   //Kaffee 2 und 4    --> d.h. wenn ich nth child auf die preview anwende, wählt es von allen 4 divs die diese klasse haben aus, nicht von child-e´s
            margin:0;
          }

          @include respond (desk) {
            width:24%;
            &:nth-child(even) {margin-right:0.5%;}
            &:nth-child(odd) {margin-right:0.5%;}      //zeilen sind notwendig weils onst nth child von oben mehr spezi hat als ein margin-right unten. geht das schöenr?
          }
        }
      }
  }
  .blend-img-box{   //es funktioniert..aber würde man es überhaupt nesten? //immerhin ist es dann am gleichen ort. fand umbenennen aber nicht so eingängig
    background-color: #fff;
   // position:relative;
    @include respond (desk) {
      width:100%;
    }
    .blend-img {
      width:100%;
    }
  }

  //icons//
  .icon-line {
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    margin-top:0.7rem;
  }

  .shop__svg {
    width:100%;
    height:auto; 
  }
  
  .icon-box   {
    width:5%;
    height:auto;
    margin-right:2%; //ca, ..8px in mobile auf figma?
    }
  /*
  .icon {
    color:#fff;  
    //position:absolute;//
    &:first-child {
      width:12px;
      height:14px;
    }
    &:nth-child(2) {
      width:10px;
      height:12px;
    }
    &:last-child {
      width:12px;
      height:13px;
    }
  }*/
  
  .price {
    color: #737373;
    font-size:14px;
    line-height:18px;
  }
  
  //für personalisierung//
  

    
