  .shop{
    width: 375px;
    height: 910px;  /* 382 cafe + 53.75 top + 440 plant (top/bot inkl) =875.75px IN PROZENT!!*/
    background-color:$color-anthra;  /*scss einführen!!!!!!!!!!*/
      &__outline {
        width: 327px;
        position:absolute;
        left:24px;
        display:flex;
        flex-direction: column;
      }
      &__content {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        >h2{
          color:#fff;
          margin-bottom:40px;
          margin-top:60px;
          line-height: 34px;
        }
        >a {
          margin-bottom:60px;
          margin-top:40px;
        }
      }
      &__blends{    //wäre nach BEM hier so was wie div-blends sinnvoller?
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        color:#fff;

        &--preview{
          width:155px;
          height:277px;
          .subhead {
            margin-top:11px;
          }                         //eeeyy wieso macht weder subhead noch img das -.-
          >div{
            margin-bottom:11px;
          }
        }
      }
  }
  .blend-img-box{   //es funktioniert..aber würde man es überhaupt nesten? //immerhin ist es dann am gleichen ort. fand umbenennen aber nicht so eingängig
    width:155px;
    height:208px;
    background-color: #fff;
    position:relative;
    .blend-img {
      width: 140.31px;
      height:188.32px;
      position:absolute;
      text-align:center;
    }
  }

  //icons//
  .icon-line {
    display:flex;
    flex-direction:row;
  }
  
  .icon-box   {
    width:12;
    height:14;
    margin-right:8px;
   // position:relative;// aber dann ist die icon box unnütz oder ?
    }
  
  .icon {
    color:#fff;  
    //position:absolute;//
    &:first-child {
      width:12px;
      height:14px;
    }
    &:nth-child(2) {
      width:10px;
      height:12px;
    }
    &:last-child {
      width:12px;
      height:13px;
    }
  }
  
  .price {
    color: #737373;
    font-size:14px;
    line-height:18px;
  }
  
  //für personalisierung//
  
  #kaffee1 {
  margin-right:16px;
  margin-bottom:40px;
  }
  
  #kaffee2 {
    margin-bottom:40px;
  }
  
  #kaffee3 {
  margin-right:16px;
  }
    
