//AUFLÖSEN: warum speichern ohne _?
@import "abstracts/functions";
@import "abstracts/_mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "components/hero";
@import "components/button";
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";
@import "café";
@import "herkunft";
@import "shop";
@import "pages/home";
//meine subpage ordner in pages ballern!

:root {
  --div-color: red;
}

//wo soll das hin?
.giphy {
  position: relative;
  /*bottom: 33%;
  left: -10%;*/
  overflow: hidden;
  width: 66%;
  padding-top: 56%; /* friends ist 16:10, bsp. 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  &__responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
  }
}
