@import "variables";
@import "_base";
@import "components/hero";
@import "layout/_header";
@import "layout/navigation";
@import "_café";
@import "_herkunft";
@import "_shop";
@import "_footer";


:root {
  --div-color: red;
}

*,
::after,  //bisher warens nur normale elements, deshalb die auch//
::before {
  margin:0;
  padding:0;
  box-sizing:inherit;
}

html {
  font-size:62.5%; /*1 rem =>root font size, normalerweise 16, wollen aber 10 
  (damit:10 = 1 rem). für user friendly nehmen wir aber: 10:16=62.5% =10 px falls default 16px
  merke:rem geht bei vielen alten explorern nicht*/
}

body {    //man setzt keine height oder?
  width:37.5rem; 
  font-family: "Roboto", sans-serif;
  font-weight:400;
 // font-size: 16px;  //
  line-height:1.7;
  /*padding:20px;   wozu?ausm video glaub ich*/ 
  background-color:rgb(124, 21, 21);
  box-sizing:border-box;
  /*border:3px solid grey; -->zum gucken ..mein body ist linksbündig..wie ändere ich 
  das..der ganze rest ist weiter mittig, damit er mittig vom header ist.. 
  habe ich ja auch 102 px gesetzt..aber den body will ich doch auch mittig?*/
}  
/*body {
  height:403rem;
  width:37.5rem; 
  font-family: "Roboto", sans-serif;
  font-weight:400;
 // font-size: 16px;  //
  line-height:1.7;
  /*padding:20px;   wozu?ausm video glaub ich
  background-color:rgb(124, 21, 21);
  box-sizing:border-box;
  /*border:3px solid grey; -->zum gucken ..mein body ist linksbündig..wie ändere ich 
  das..der ganze rest ist weiter mittig, damit er mittig vom header ist.. 
  habe ich ja auch 102 px gesetzt..aber den body will ich doch auch mittig?
}  */



/*ist das was für die base?*/

h2 {
  font-family: "Roboto", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:3.6rem;
  line-height:3.4rem;
}

h3 {
  font-weight: 900;
  font-size:3.2rem;
  line-height:3.7rem; /*wieso dachte ich im video gehrööt zu haben dass man da keine px angibt?..wie rechne ih das um?*/ 
  margin-bottom:1.2rem;
}

.text-m{
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-size:14px;
  line-height:1.8rem;
  color:black;
  margin-top:2rem; 
}

.subhead {
  font-size:1.8rem;
  line-height: 2.1rem;
}

.rust {
  font-weight:900;
  font-size:2.4rem;
  line-height: 2.8rem;
}
.address {
  display:flex;
  flex-direction: row;
  margin-top:20px;
  :first-child{
      margin-right:17px;
      width:156px;
  }
}

//BUTTONS//

.btn:link,
.btn:visited {
  font-size:1.2rem;
  border-radius:0.5rem;
  text-decoration:none;
  line-height: 1;
}

//noch umbenennen in btn-dark
.btn-shop {
  background:#1A1A1A;    
  width:16.3rem;
  height:4rem;
  color:#fff;
  display:inline-block;
  position:absolute;
  top: 39.8rem;
  left:10.6rem;
  text-align:center;
  padding:1.5rem 5rem 1.5rem 5rem;
  &:hover{
    background-color:$color-btn-dark-hover;
  }
  &:active{
    background-color:$color-btn-active;
  }
}

//wir machen jetzt kurz aus Zeitgründen ein btn-shop2 --> aber den header noch flexbox anpassen!//

.btn-shop2 {
  background:#1A1A1A;
  width:16.3rem;
  height:4rem;
  color:#fff;
  margin-top:4rem;
  padding:1.5rem 5rem 1.5rem 5rem;
  text-align:center;
  &:hover{
    background-color:$color-btn-dark-hover;
  }
  &:active{
    background-color:$color-btn-active;
  }
}


  //BUTTON HELL UMBENENNEN..nich das er hell wäre
  .btn-products {
    color:#fff;
    background: none; //bei elements ist der button weiß, aber bei vorschau nicht?!
    border-style:solid;
    border-width:3px;
    border-color:#fff;
    margin-left:auto;
    margin-right:auto;   //die margins zentrieren!//
    text-align:center;
    width:182px;
    height:48px;
    padding:15px 50px 15px 50px;
    //position:absolute;  top:398px;  left:106px;//

      //auf figma habe ich bei elements diese angabe für hover gefunden: box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25); 
      //dann bräuchte ich aber auch:       &:hover{ color:black; }
      //und diese für den button hell bei der shop-vorschau. da der button ja überhaupt nicht weiß ist, bin ich eh verwirrt:
      //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  -->LERNGRUPPE FRAGEN

  }

.giphy {
  position: relative;
  /*bottom: 33%;
  left: -10%;*/
  overflow: hidden;
  width: 66%;
  padding-top: 56%; /* friends ist 16:10, bsp. 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

&__responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $color-black;
}
}