<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header class="header">
        <div class="topnav">
          <a href="./index.html" class="logo-btn-home logo-btn-home--header">
            <img src=" img/Logo.svg" class="logo-btn-img" alt="logo">
          </a>
          <div class="topnav-mobile">
            <input type="checkbox" class="topnav__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="topnav__button">
              <span class="topnav__icon">&nbsp;
                <svg class="topnav__icon--x" width="24" height="22" viewBox="0 0 24 22" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.5 2L12.5 11M21.5 20L12.5 11M12.5 11L3.5 20M12.5 11L21.5 2" stroke="#fff" stroke-width="3" />
                </svg>
              </span>
            </label>
            <div class="topnav__background">&nbsp;</div>
            <!--empty background nbsp-->
            <nav class="topnav__nav">
              <ul class="topnav__list">
                <li class="topnav__item"><a href="_cafe-page/index.html" class="topnav__link">Das Café</a></li>
                <li class="topnav__item"><a href="_herkunft/index.html" class="topnav__link">Herkunft</a></li>
                <li class="topnav__item"><a href="_shop/index.html" class="topnav__link">Shop</a></li>
              </ul>
            </nav>
          </div>
    
    
          <nav class="topnav-desktop">
            <ul class="topnav-desktop__list">
              <li class="topnav-desktop__item"><a href="_cafe-page/index.html" class="topnav-desktop__link">Das Café</a>
              </li>
              <li class="topnav-desktop__item"><a href="_herkunft/index.html" class="topnav-desktop__link">Herkunft</a></li>
              <li class="topnav-desktop__item"><a href="_shop/index.html" class="topnav-desktop__link">Shop</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__text">
          <h1 class="title_primary">
            <span class="title_primary--main">Rustica</span>
            <span class="title_primary--sub">Bio und Fair seit 1991</span>
          </h1>
        </div>
        <a class="btn btn-shop text-m--white" role="button" href="_shop/index.html">Zum Shop</a>
    
      </header>
</body>
</html>