// COLOURS

$color-white:#FFFFFF; //rgba(255,255,255,1)//
$color-black:#000; //rgba(0,0,0,1)//
$color-anthra:rgb(26,26,26);
$color-bl-or:rgb(215,190,157);
$color-petrol:rgb(0,109,126);
$color-pink:rgb(237,209,201);
$color-orange:rgb(215,124,18);
$color-med-grey:rgb(115,115,115);
$color-li-grey:rgb(233,233,233);
$color-btn-dark-hover:#3A3734;
$color-btn-active:#D7BE9D;  //haben beide die gleiche farbe

// SIZING
$max-width: 1440px;